body {
/*	background-color: #222;*/
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	font-family: 'Lucida Grande'; 
	letter-spacing: -.1em;   
	/*text-align: center;*/
}

#home {
	text-align: center;
}

.header {
	margin: 3em 3em 15em 35px;
	/*margin-top: 3em;
	margin-bottom: 15em;*/
}

.header.cover {
    width: 360px;
    margin-top: 15px;
    margin-left: 5px;
    margin-bottom: 0px;
    float: left;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	line-height: 0;
}

.semester {
    font-size: 22px;
}

.header img {
	display: inline-block;
	float: left;
	margin-top: 0;
	/*clear: both;*/
}

.header h1 {
	font-weight: lighter;
}
 
.hashtag {
	clear: both;
	height: inherit;
	width: inherit;
	display: inline-block;
	float: right;
	margin-top: 30px;
}

.title, .hashtag {
    font-family: 'Lucida Grande';
}

.students {
	overflow: hidden;
	height: 100%;
	width: 75%;
	margin: 0 auto;
}

.student {
	/*position: relative;*/
	/*display: block;*/
	float: left;
	width: 25%;
	height: 25%;
	margin: 8px 0;
	text-align: center;	
	display: inline;
	font-family: 'Lucida Grande';
	/*line-height: 14px;*/
}

.student a {
    text-decoration: none;
	display: block;
	/*position: relative;*/
	/*text-align: center;*/
	/*float: left;*/
}

.student .id {
	margin-top: 1em;
	width: 26px;
	height: 26px;
	display: inline-block;
	margin-top: 2px;
	line-height: 26px;
	clear: both;
	float: none;
	vertical-align: middle;
	padding: 1px;
/*	font-family: 'Lucida Grande';*/
}


#wrap {
	width: 50%;
	height: inherit;
	margin: 0 auto;
}
