
.site {
  font-size: 115%;
  text-align: justify;
  width: inherit;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.header {
	text-align: center;
}

.smaller {
	width: inherit;
	display: block;	
}

.smaller {
	width: 30%;
	float: left;
}

td.field {
	font-weight: bold;
	text-transform: uppercase;
	text-align: right;
}

td.field:after {
	content: ":";
}

.visible-print  { display: inherit !important; }
