
/* Global */

body {
	/*width: 8.5in;
	height: 11.5in;*/
	/*size: 8.5in 11in;*/
	width: 8.5in;
	height: 11in;
	line-height: 1.35em;
	
}

table { 
	display:block; 
	position:relative; 
}

tr {
	display: inline;
}

hr {
	border-style: none;
}

.uline {
    text-decoration: underline;
}

.contain {
	margin: 0px 20px;
	position: relative;
	/*width: inherit;*/
	height: inherit;	
	/*width: 1000px;
	height: 1000px;*/
}

.home {
	text-align: center !important;
}

.site {
	font-size: 115%;
	/*text-align: justify;*/
	width: inherit;
	margin: 3em auto 2em;
	line-height: 1.5em;
}


.header {
	text-align: center;
/*	width: 200px; /* Something arbitrarily small BAD! SEE FRONT PAGE */
}

.header a {
	font-size: 0;
	line-height: 0;
	color: transparent;
}

.info, .person {
	vertical-align: middle;
}

.info {
	margin: 5em 0em;
}

.smaller {
	width: inherit;
	display: block;	
}

.smaller {
	width: 125px;
	/*float: left;*/
	margin-top: 40px;	 
}

.medium {
    width: 360px;
    /* margin-top: 15px; */
    margin-left: 5px;
    float: left;
}

.field {
	
	padding-right: 0.5em;
	float: left;
}

.bold, .char9, .char10, .char11, .char12 {
	font-weight: bold;
	text-transform: uppercase;
}

.profile, .resume { text-transform: uppercase; }

/* .profile, .resume a { */
/* 	font-size: 0; */
/* 	line-height: 0; */
/* 	color: transparent; */
/* } */

.person * {
	text-align: right;
	margin-bottom: 0;
}

.person p {
	margin-top: 0;
}

.person h2 {
	letter-spacing: -.1em;	
	font-family: 'Lucida Grande';
	direction: rtl;
	white-space: nowrap;
}

.name .word2 {
	font-weight: bold;
	text-transform: uppercase;
}

/* width: 300px; /\* Something arbitrarily large to fit long names *\/ */
/* text-align: right; */
/* margin-right: 20px; */

.name span {
	/*float: right;*/
	/*display: inline-block;*/

}

.person .id {
	text-align: center;
	line-height: 14px;
}

.presentation {
	/*float: right; */
	position: absolute;
	padding-bottom: 10px;
	display: block;
}

.person {
	float: right;
	margin-top: 2.5em;
}

.bio, .tech {
	float: left;
}

.tech {
    clear: right;
}

.presentation .post {

}

@font-face {
  font-family: HelveticaNeue;
  src: local("Helvetica Neue"),
       local("HelveticaNeue");
}

.box {
	background-color: black;
	color: white;
	padding: 5px;
	font-family: Arial;
	/*font-weight: normal;*/

}

div.left {
	float: left; 
	clear: both;
}

div.right {
	float: left;
}

.field:after {
	content: ":";
}

.description {
    font-family: 'Lucida Grande';
    letter-spacing: -.1em;
    font-weight: lighter;
    text-align: right;
}

.fair_cover {
    font-size: 48px;
    font-weight: lighter;
}

.fair_info {
    float: right;
    margin-top: 875px; /* How to get it to stick to the bottom? */
    margin-right: 50px;
}

.description.class {
    font-weight: bold;
}

.id {
	width: 26px;
	height: 26px;
	float: right;
}

.profile-pic {
	margin-top: 6px;
	clear: right;
	float: right;
	
	/*max-width: 100%;*/
	/*max-height: 50%;*/
}

.profile-pic img {
	max-width: 206px;
	max-height: 177px;
}

.profile-pic-fake {
	/* margin-top: 6px; */
	/* clear: right; */
	/* float: right; */
	
	/*max-width: 100%;*/
	/*max-height: 50%;*/
}

.profile-pic-fake img {
	/* max-width: 206px; */
	/* max-height: 177px; */
}

.twitter:before {
	content: "@";
}

.school {
    font-weight: bold;
}

#interests, #edu, #tech, #job_duty {
	list-style: none;
	display: table-cell;
	padding: 0;
	margin: 0;
}

#interests li, #edu li, #tech li, #job_duty li {
	padding-left: 1.3em;
	text-indent: -1em;
	vertical-align: text-bottom;
	/*vertical-align: middle;*/
}

#interests li:before, #edu li:before, #tech li:before, #job_duty li:before {
	content: "+";
	padding-right: 5px;
	vertical-align: baseline;
	display: inline;
	padding-top: 0;
	margin-bottom: .5em;

}

.presentation:before  {
	content: "+";
}

.visible-print  { display: inherit !important; }

.notes {/*
	height: 500px;
	width: 500px;*/
	position: absolute;
	bottom: 0;
	left: 0;
}

.employ {
    position: absolute;
    bottom: 290;
    left: 0;
}

.notes h5, .employ h5 {
	position: relative;
}

.notes hr {
	background-color: #000;

}

.job .position {
	margin-top: 1em;
	font-weight: bold;
}

.job .dates {
	margin-bottom: 1em;
}

/* Trying to print on one page. Not working. */

@media print {
	/*body {
		width: 100%;
		height: 100%;
		-webkit-print-color-adjust:exact;
	}
*/
	.box {
		/*border: 4px solid #000;*/
		background-color: black !important;
		color: white !important;
		padding: 5px;
	}

	.notes hr {
		background-color: #000 !important;
		
	}

	.contain {
		margin: 0px 20px !important;
	}

}

@page {
	size: 8.5in 11in;
}

a:link {
    /*    text-decoration:none;*/
    color: rgb(0, 0, 0);
}
a:visited {
    /*    text-decoration:none;*/
    color: rgb(0, 0, 0);
}