body {
	/*width: 8.5in;
	height: 11.5in;*/
	/*size: 8.5in 11in;*/
	width: 100%;
	height: 100%;
}

table { 
	display:block; 
	position:relative; 
}

.contain {
	margin-left: 50px;
}

.home {
	text-align: center !important;
}

.site {
  font-size: 115%;
  /*text-align: justify;*/
  width: inherit;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.header {
	text-align: center;
}

.smaller {
	width: inherit;
	display: block;	
}

.smaller {
	width: 30%;
	/*float: left;*/
	margin-top: 40px 
}

.field {
	font-weight: bold;
	text-transform: uppercase;
	/*text-align: right;*/
	padding-right: 0.5em;
	float: left;
}

tr {
	display: inline;
}

.presentation {
	/*float: right; */
	position: absolute;
	padding-bottom: 10px;
	display: block;
}

div.left {
   float: left; 
   clear: both;
}

div.right {
	float: left;
}

.field:after {
	content: ":";
}

.twitter:before {
	content: "@";
}

.presentation:before {
	content: "+";
}

.visible-print  { display: inherit !important; }

/* Trying to print on one page. Not working. */


@media print {
	body {
		width: 100%;
		height: 100%;
	}
}

@page {
	size: 8.5in 11in;
}

