---
layout: default
title: Class of Summer 2013
css: front.css
---

<div id="home">
  <h1>Class of Summer 2013</h1>

  <div class="students">
    {% for post in site.posts %}
    {% if post.first_name != "" and post.last_name != "" %}
    <div class="student"> 
      <div id="wrap">
        <a href="{{ post.url }}">
          {{ post.first_name }} {{ post.last_name }} 
        </a>
        <div class="box id">
          {{ forloop.index }}
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>