---
layout: default
title: Class of Summer 2013
css: front.css
---

<div id="home">
  <h1><a class = "bold semester" href="/cover.html">Class of Summer 2013</a></h1>
  <div class="students">
    {% for post in site.posts reversed %}
    {% if post.layout == 'post' %}
    <div class="student"> 
      <!-- Not pretty, but this lets lettering.js read the words much better. -->
      <a class="name" href="{{ post.url }}">{{ post.first_name }}<span class="bold"> {{ post.last_name }}</span></a>

      <a href="{{ post.url }}">
       <span class="box id">
	 {{ post.profile_num }}
	  <!-- Temporary fix. Ideally, get each number to match each
    student's ID. -->
        </span>
      </a>
    </div>
    {% endif %}
    {% endfor %}
</div>
</div>