<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{{ page.student }}</title>
	<meta name="viewport" content="width=device-width">

	<!-- syntax highlighting CSS -->
	<link rel="stylesheet" href="/css/syntax.css">

	<!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" media="screen, print" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/style.css.liquid">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
	<script src="/js/bootstrap.js"></script>
</head>
<body>
	<div class="contain">
		{% capture full_name %} 
		{{ page.first_name }} {{ page.last_name }}
		{% endcapture %}
		<div class="header">
			<a class="smaller" href="/">
				<img class="logo smaller" src="/img/flatiron-school.png">
			</a>
		</div>
		<br>
		<br>
		<br>

		<div class="info col-7">
			<div class="field bold left">Email</div>
			<div class="right">{{ page.email }} </div>
			<div class="field bold left">Phone</div>
			<div class="right">{{ page.phone }} </div>
			<div class="field bold left">Github</div>
			<div class="right">{{ page.github }} </div>
			<div class="field bold left">Twitter</div>
			<div class="right twitter">{{ page.twitter }} </div>
			<div class="field bold left">Meetup Presentation</div>
			{% for item in page.presentation %}
			<div class="left presentation">{{ item }} </div> <!-- presentations? -->
			{% endfor %}
			<div class="field bold left">Blog</div> 
			<div class="right">{{ page.blog }} </div> <!-- Blog posts? -->
			{% for post in page.blog %}
			<div class="left"> {{ post }} </div>
			{% endfor %}
		</div>
		<div class="person col-5">
			<h2 class="name">{{ page.first_name }} <b>{{ page.last_name | upcase }}</b> </h2>
			<p class="profile">Profile</p>
			<div class="id box">{{ page.profile_num }} </div>
			<img class="profile-pic" src="/img/student/{{ page.first_name }}{{ page.last_name }}.jpg" alt="{{ full_name }}">
		</div>
		<div class="bio col-7">
			<h5 class="heading bold	box">Bio</h5>
			{% for part in page.bio %}
				<p>{{ part }} </p>
			{% endfor %}
		</div>
		<div class="interests col-5">
			<h5 class="heading bold box">Interests</h5>	
			<ul id="interests">
			{% for point in page.interests %}
				<li>{{ point }} </li>
			{% endfor %}
			</ul>
		</div>
		<div class="notes col-12">
			<h5 class="notes heading bold box">Notes</h5>
			  <hr class="hr2"/>
			  <hr class="hr1"></hr>
			  <hr class="hr1"></hr>
			  <hr class="hr1"></hr>
			  <hr class="hr1"></hr>
			  <hr class="hr1"></hr>
		</div>
	</div>
</body>
</html>