<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{{ page.student }}</title>
	<meta name="viewport" content="width=device-width">

	<!-- syntax highlighting CSS -->
	<link rel="stylesheet" href="/css/syntax.css">

	<!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" media="screen, print" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/style.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
	<script src="/js/bootstrap.js"></script>
</head>
<body>
	<div class="header">
		<a class="smaller" href="/">
			<img class="logo smaller" src="/img/flatiron-school.png">
		</a>
	</div>
	<table class="info">
		<tr>
			<td class="field">Email</td>
			<td> {{ page.email }} </td>
		</tr>
		<tr>
			<td class="field">Phone</td>
			<td>{{ page.phone }} </td>
		</tr>
		<tr>
			<td class="field">Github</td>
			<td>{{ page.github }} </td>
		</tr>
		<tr>
			<td class="field">Twitter</td>
			<td>{{ page.twitter }} </td>
		</tr>
		<tr>
			<td class="field">Meetup Presentation</td>
			<td>{{ page.presentation }} </td>
		</tr>
		<tr>
			<td class="field">Blog</td>
			<td>{{ page.blog }} </td>
		</tr>
	</table>
	<!-- </div> -->
</body>
</html>