<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{{ page.student }}</title>
	<meta name="viewport" content="width=device-width">

	<!-- syntax highlighting CSS -->
	<link rel="stylesheet" href="/css/syntax.css">

	<!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" media="screen, print" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/style.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
	<script src="/js/bootstrap.js"></script>
</head>
<body>
	<div class="contain">
		<div class="header">
			<a class="smaller" href="/">
				<img class="logo smaller" src="/img/flatiron-school.png">
			</a>
		</div>
		<br>
		<br>
		<br>

		<div class="info">
			<div class="field left">Email</div>
			<div class="right">{{ page.email }} </div>
			<div class="field left">Phone</div>
			<div class="right">{{ page.phone }} </div>
			<div class="field left">Github</div>
			<div class="right">{{ page.github }} </div>
			<div class="field left">Twitter</div>
			<div class="right twitter">{{ page.twitter }} </div>
			<div class="field left">Meetup Presentation</div>
			{% for item in page.presentation %}
			<div class="left presentation">{{ item }} </div> <!-- presentations? -->
			{% endfor %}
			<div class="field left">Blog</div> 
			<div class="right">{{ page.blog }} </div> <!-- Blog posts? -->
			{% for post in page.blog %}
			<div class="left"> {{ post }} </div>
			{% endfor %}
		</div>
		<div class="person">
			<h2 class="name">{{ page.first_name }} <b>{{ page.last_name }}</b> </h2>
			<p class="profile">Profile</p>
			<div class="id">{{ page.profile_num }} </div>
		</div>
		<div class="bio">{{page.bio}} </div>
	</div>
</body>
</html>